/* h1{
    font-size: 4em;
    flex-grow: 1;
} */

h3{
    font-size: var(--midFontSize);
    text-align: center;
    font-weight: normal;
    margin-top: 0.7em;
    color: var(--lightColor);
}

.links{
    margin: 1em 0;
}

.links p,
.links a{
    display: inline;
    font-size: 1.2em;
    color: var(--lightColor);
}

.links a:hover{
    cursor: pointer;
    color: var(--secondAccent);
}

img{
    box-sizing: border-box;
    width: 100%;
    height: inherit;
    max-width: 100%;
    object-fit: contain;
    border: none;
}

img:hover{
    border:none;
}

.centered-p{
    margin-top: 1.5em;
    margin-bottom: auto;
}

#resume{
    width: 80%;
    max-width: 50em;
    box-sizing: border-box;
    margin: 3em auto;
    display: block;
}

#download-link{
    text-decoration: none;
    display: block;
    color: var(--lightColor);
    font-size: 2em;
    margin: 1em auto;
    text-align: center;
}

#download-link:hover{
    color: var(--secondAccent);
}

iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.carousel{
    position: relative;
}

.next-button,
.previous-button{
    position: absolute;
    top: 40%;
    height: 10%;
    width: 10%;
    filter: invert(99%) sepia(1%) saturate(1634%) hue-rotate(204deg) brightness(96%) contrast(101%);
}

.next-button{
    right: -7%;
}

.previous-button{
    left: -7%;
}

.next-button:hover,
.previous-button:hover{
    cursor: pointer;
    filter: invert(56%) sepia(90%) saturate(423%) hue-rotate(43deg) brightness(93%) contrast(84%);
}

@media screen and (max-width: 1000px) {
    #download-link{
        font-size: 1.5em;
        margin: 0.5em auto;
    }

    #resume{
        width: 90%;
        margin: 0 auto;
    }

    .links{
        word-wrap: break-word;
        margin-top: 0;
    }
    
    .links p,
    .links a{
        font-size: 0.95em;
    }
    
    .centered-p{
        margin-top: 0;
        margin-bottom: 1em;
    }

    h3{
        margin-top: 0.7em;
        margin-bottom: 0.4em;
    }
}